/* 
----------
COLORS
----------
*/
$primary-color: #55c57a;
$primary-color-light: #28b485;
$primary-color-dark: #7ed56f;
$main-gray: #777;
$main-white: rgb(255, 255, 255);
$main-black: rgba(0, 0, 0, 0.2);
$main-transition: all 0.2s linear;
/* 
----------
GRID
----------
*/
$row-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;
