.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background: $main-white;
    z-index: 20;
    text-align: center;
    cursor: pointer;
    box-shadow: $main-box-shadow;
  }
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background: radial-gradient($primary-color-dark, $primary-color-light);
    z-index: 10;

    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
  }
  &__nav {
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    position: fixed;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: 15;
    opacity: 0;
    visibility: hidden;
  }
  &__list {
    @include place-item-center;
  }
  &__item {
    margin: 1rem;
  }
  &__link {
    display: inline-block;
    width: 36rem;
    backface-visibility: hidden;

    &:link,
    &:visited {
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 300;
      color: $main-white;
      text-transform: uppercase;
      background: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $main-white 50%
      );
      background-size: 213%;
      transition: $main-transition;
    }
    span {
      display: inline-block;
      margin-right: 1rem;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color;
      text-indent: 1rem;
    }
  }
  // ---- functionlaty -----
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
  // ---- icon -----
  &__icon {
    position: relative;
    top: 1.5rem;
    // margin-top: 3.2rem;
    &,
    &::after,
    &::before {
      width: 3rem;
      height: 3px;
      background: $main-gray-4;
      display: inline-block;
      transition: all 0.2s;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      transform: translateY(-0.8rem);
    }
    &::after {
      transform: translateY(0.8rem);
      backface-visibility: hidden;
    }
  }
  &__button:hover &__icon::before {
    transform: translateY(-1rem);
  }
  &__button:hover &__icon::after {
    transform: translateY(1rem);
  }

  &__checkbox:checked + &__button &__icon {
    background: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }
}
